{% extends "base.html" %}

{% block title %}Password Reset Sent | Leornian{% endblock %}

{% block content %}

<h1 class="text-center mb-5">
    <i class="bi-send"></i> Password Reset Sent
</h1>
<div class="card col-lg-6 mx-auto">
    <div class="card-body">
        <p>An email has been sent with instructions for setting your password, if an account exists with the address you entered.</p>
        <p class="mb-0">If you don’t receive an email soon, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
</div>

{% endblock %}
