{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if validlink %}
        Set New Password
    {% else %}
        Password Reset Unsuccessful
    {% endif %}
    | Leornian
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="alert alert-info text-center">
        <strong>Note</strong>: you are currently logged in as {{ user.username }}.
    </div>
{% endif %}

{% if validlink %}
    <div class="card col-lg-6 mx-auto">
        <div class="card-header"><strong>Set new password</strong></div>
        <div class="card-body">
            <form class="mb-2" method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">
                    <i class="bi-check-circle"></i> Submit
                </button>
            </form>
        </div>
    </div>
{% else %}
    <h1 class="text-center mb-5">
        <i class="bi-x-octagon"></i> Password Reset Unsuccessful
    </h1>
    <div class="text-center col-lg-6 mx-auto">
        <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
        <p><a href="{% url 'password_reset' %}">Request password reset</a></p>
    </div>
{% endif %}

{% endblock %}
