{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset | Leornian{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="alert alert-info text-center">
        <strong>Note</strong>: you are currently logged in as {{ user.username }}.
    </div>
{% endif %}

<div class="card col-lg-6 mx-auto">
    <div class="card-header"><strong>Password reset</strong></div>
    <div class="card-body">
        <p>Enter your account’s email address below, and you’ll be sent instructions for resetting your password.</p>
        <form class="mb-2" method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">
                <i class="bi-check-circle"></i> Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}
