{% extends "base.html" %}

{% block title %}Drill Notes on Leornian{% endblock %}

{% block content %}
<h1 class="text-center mb-4"><i class="bi-arrow-repeat"></i> Drill Notes</h1>

{% if request.method == 'GET' %}
    <div class="card col-lg-9 mx-auto mb-4">
        <div class="card-body">
            <p>Drill lets you go over your saved notes using a simple algorithm that adds a sprinkle of randomization and a dash of prioritization.</p>
            <details class="mb-3">
                <summary>Explanation</summary>
                <p class="mt-3">The idea is that with a little bit of chaos, you invite serendipity so that you can see your notes in a fresh light, and hopefully make creative connections.</p>
                <p>Imagine your collection as a stack of cards (as in flashcards, or index cards). Every time you press <code>Next</code>, Leornian randomly draws a note near the bottom of the stack and presents it to you, placing it on top of the stack. (Sometimes, the note exactly at the bottom of the stack is drawn.) In other words, the longer you haven’t seen a note while drilling, the more likely you’ll see it on the next draw.</p>
                <p>In the long run this means you will still see all of your notes if you keep on drilling, but in a more shuffled way, compared to simply drawing from the bottom of the stack every time.</p>
                <p>If you want to, you can <em>promote</em> a note before drawing the next. This will make it more likely to be drawn than any other non-promoted note—although if it’s recently drilled (i.e. higher up the stack), it’s still unlikely to be drawn.</p>
                <p>Note that this system is based on the idea of learning by <a class="icon-link" href="https://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition <i class="bi-box-arrow-up-right"></i></a>, but it is not very sophisticated. If you need a more well-developed tool that is better guaranteed to aid in learning (especially memorization tasks), consider using <a class="icon-link" href="https://apps.ankiweb.net/">Anki <i class="bi-box-arrow-up-right"></i></a> or <a class="icon-link" href="https://en.wikipedia.org/wiki/SuperMemo">SuperMemo <i class="bi-box-arrow-up-right"></i></a> instead.</p>
            </details>
            <details>
                <summary>How to use Drill</summary>
                <ul class="mt-3">
                    <li>Press <code>Begin Drill</code> to start drawing notes from your collection.</li>
                    <li>You will be presented with a note. Enjoy reviewing it. Meditate on it, if you must.</li>
                    <li>If the note is not in promoted status (the default), you can choose to promote it before drawing another note (<code>Promote and Next</code>). You can also press on <code>Next</code> to continue without changing the current note’s promotion status.</li>
                    <li>Promoting a note makes it more likely to be drawn at any time, but this is balanced with the note’s location in your <em>drill stack</em>: the notes you haven’t seen in drill for the longest time will be more likely to be drawn than a promoted note you have just seen.</li>
                    <li>If the presented note is in promoted status, you can choose to demote it before moving on (<code>Demote and Next</code>) to revert it to regular priority.</li>
                </ul>
            </details>
            <div class="text-center mt-4">
                {% if disable_begin %}
                    <div class="alert alert-info text-center">
                        Drill requires your collection to have at least two notes.
                        <a href="{% url 'notes:discover' %}">Discover notes</a>
                    </div>
                {% else %}
                    <form method="post" action="{% url 'notes:drill' %}" class="d-inline-block">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">
                            <i class="bi-play"></i> Begin Drill
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% elif request.method == 'POST' %}
    {% if error %}
        <div class="alert alert-danger text-center">
            Sorry, an error was encountered.
            {% if error == 'insufficient-collection' %}
                There are not enough notes in your collection.
            {% endif %}
        </div>
    {% else %}
        {% if promoted %}
            <div class="text-center mb-3">
                <span class="badge text-bg-info">
                    <i class="bi-star-fill"></i> Promoted Note
                </span>
            </div>
        {% endif %}
        <div class="col-lg-9 mx-auto">
            {% include 'notes/includes/note_card.html' with object=note omit_controls=True %}
        </div>
        <div class="d-flex justify-content-center flex-wrap gap-2 mt-4">
            {% if not promoted %}
                <form method="post" action="{% url 'notes:drill' %}" class="d-inline-block">
                    {% csrf_token %}
                    <input type="hidden" name="promote" value="{{ note.code }}">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi-star-fill"></i> Promote and Next
                    </button>
                </form>
            {% else %}
                <form method="post" action="{% url 'notes:drill' %}" class="d-inline-block">
                    {% csrf_token %}
                    <input type="hidden" name="demote" value="{{ note.code }}">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi-star"></i> Demote and Next
                    </button>
                </form>
            {% endif %}
            <form method="post" action="{% url 'notes:drill' %}" class="d-inline-block">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">
                    <i class="bi-play"></i> Next
                </button>
            </form>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-danger text-center">
        Sorry, an error was encountered.
        <span class="font-monospace">Error: unsupported request method.</span>
    </div>
{% endif %}

{% if not error and not disable_begin %}
    <div class="text-center text-secondary mt-4">
        <small>{{ recent_drill_count }} note{{ recent_drill_count|pluralize }} in your collection drilled (or added) in the last 24h</small>
    </div>
{% endif %}

{% endblock %}
