{% extends "base.html" %}

{% block title %}My Collection on Leornian{% endblock %}

{% block content %}
<h1 class="text-center"><i class="bi-collection"></i> My Collection</h1>

{% with namespace=request.resolver_match.namespace url_name=request.resolver_match.url_name %}
<nav class="mt-4 mb-3">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link {% if namespace == 'notes' and url_name == 'my-collection' %}active{% endif %}" href="{% url 'notes:my-collection' %}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if namespace == 'notes' and url_name == 'my-collection-by-me' %}active{% endif %}" href="{% url 'notes:my-collection-by-me' %}">By Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if namespace == 'notes' and url_name == 'my-collection-by-others' %}active{% endif %}" href="{% url 'notes:my-collection-by-others' %}">By Others</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'notes:not-in-collection-by-me' %}">Authored But Not In Collection</a></li>
                <li><a class="dropdown-item" href="{% url 'notes:my-collection-promoted' %}">Promoted</a></li>
                <li><a class="dropdown-item" href="{% url 'notes:deattributed-notes' %}">Deattributed</a></li>
            </ul>
        </li>
    </ul>
</nav>
{% if namespace == 'notes' and url_name == 'not-in-collection-by-me' %}
    <div class="alert alert-info text-center">
        These notes are authored by you but are not in your collection.
    </div>
{% endif %}
{% if namespace == 'notes' and url_name == 'my-collection-promoted' %}
    <div class="alert alert-secondary text-center">
        These are the notes in your collection that are promoted in <a href="{% url 'notes:drill' %}">Drill</a>.
    </div>
{% endif %}
<div class="text-center">
    <small class="text-secondary">
        {% if paginator.count > 0 %}
            <p>{{ paginator.count }} note{{ paginator.count|pluralize }}</p>
        {% endif %}
        {% if namespace == 'notes' and url_name == 'my-collection-by-me' %}
            <p>You can also view <a class="link-secondary" href="{% url 'notes:not-in-collection-by-me' %}">notes authored by you but removed from your collection</a>, if any.</p>
        {% endif %}
    </small>
</div>
{% endwith %}

<div class="row">
    {% for object in object_list %}
        <div class="col-lg-6 my-3">
            {% include 'notes/includes/note_card.html' %}
        </div>
    {% empty %}
        <div class="text-center my-3">No notes available. 🤔</div>
    {% endfor %}
</div>

{% include 'notes/includes/pagination.html' %}

{% endblock %}
