{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Note | Leornian{% endblock %}

{% block content %}
<h1 class="text-center mb-4"><i class="bi-file-earmark-plus"></i> New Note</h1>
<div class="col-lg-9 mx-auto my-3">
    {% include 'notes/includes/note_guide.html' %}
</div>
<form method="post" action="">
    <div class="card col-lg-9 mx-auto">
        <div class="card-body">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="{{ stage_field }}" value="1" />
        </div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-primary" type="submit">
            <i class="bi-card-heading"></i> Preview
        </button>
    </div>
</form>

{% endblock %}
