{% extends "base.html" %}

{% block title %}Note {% if object.author %}by {{ object.author.username }}{% endif %} on Leornian{% endblock %}

{% block navigation %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-9 mx-auto">
    <article class="card">
        <div class="card-body">
            <div class="my-3">{{ object.html }}</div>
        </div>
        <footer class="card-footer">
            <small class="d-flex flex-wrap gap-3 my-3">
                {% if object.author %}
                <span><i class="bi-person"></i> {{ object.author.username }}</span>
                {% endif %}
                <span><i class="bi-clock"></i> {{ object.created|date:"r" }}</span>
                <a class="link-secondary icon-link" href="{{ object.get_absolute_url }}">
                    <i class="bi-link-45deg"></i> Permalink
                </a>
            </small>
        </footer>
    </article>
</div>

{% if not user.is_authenticated %}
<section class="text-center mt-5">
    <strong>Leornian</strong> is a notes sharing and learning tool. <a href="{% url 'home' %}">Learn more</a> (or <a href="{% url 'login' %}">log in</a>).
</section>
{% endif %}

{% endblock %}
