{% extends "base.html" %}

{% block title %}Notes by {{ author.username }} on Leornian{% endblock %}

{% block content %}
<h1 class="text-center">
    <i class="bi-journal-text"></i> Notes by {{ author.username }}
</h1>
{% if paginator.count > 0 %}
    <div class="mt-3 mb-4 text-center">
        <small class="text-secondary">
            {{ paginator.count }} note{{ paginator.count|pluralize }}
        </small>
    </div>
{% endif %}
<div class="row">
    {% for object in object_list %}
        <div class="col-lg-6 my-3">
            {% include 'notes/includes/note_card.html' %}
        </div>
    {% empty %}
        <div class="text-center my-3">No notes available.</div>
    {% endfor %}
</div>

{% include 'notes/includes/pagination.html' %}

{% endblock %}
