{% extends "base.html" %}

{% block title %}Note {% if object.author %}by {{ object.author.username }}{% endif %} on Leornian{% endblock %}

{% block navigation %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-9 mx-auto">
    {% include 'notes/includes/note_card.html' %}
</div>

{% if not user.is_authenticated %}
<div class="text-center my-4">
    <a class="icon-link link-secondary" href="{% url 'moderation:submit-report' 'note' note.code %}">
        <i class="bi-flag"></i> Report Content
    </a>
</div>
<section class="text-center mt-5">
    <strong>Leornian</strong> is a notes sharing and learning tool. <a href="{% url 'home' %}">Learn more</a> (or <a href="{% url 'login' %}">log in</a>).
</section>
{% endif %}

{% endblock %}
