{% extends "base.html" %}
{% load static %}

{# We maximize the information content of the document title but limit it to ~140 characters: #}

{% block title %}{% if object.author %}{{ object.author.username|truncatechars:15 }}{% else %}Note{% endif %} on Leornian: "{{ object.html|striptags|truncatechars:105 }}"{% endblock %}

{% block head_extras %}
    {% if object.visibility == object.Visibility.UNLISTED %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
    <div class="d-flex justify-content-center align-items-center gap-2 my-4">
        <img class="leornian-logo" src="{% static 'images/leornian.svg' %}">
        <h1 class="d-inline-block fs-3 m-0">Leornian</h1>
    </div>
{% endif %}

<div class="col-lg-9 mx-auto">
    {% include 'notes/includes/note_card.html' %}
</div>

{% if not user.is_authenticated %}
<div class="text-center my-4">
    <a class="icon-link link-secondary" href="{% url 'moderation:submit-report' 'note' object.code %}">
        <i class="bi-flag"></i> Report Content
    </a>
</div>
<section class="text-center mt-5">
    <strong>Leornian</strong> is a notes sharing and learning tool. <a href="{% url 'about' %}">Learn more</a> (or <a href="{% url 'login' %}">log in</a>).
</section>
{% endif %}

{% endblock %}
