{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row row-gap-3">
    <div class="col-lg-4">
        <div class="card text-center">
            <img class="card-img-top" src="{% static 'notes/images/pexels-lil-artsy-1925536-edited.jpg' %}" alt="">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="{% url 'notes:create-note' %}">
                    <i class="bi-file-earmark-plus"></i> Write
                </a>
                <p class="card-text">Compose and submit your note.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center">
            <img class="card-img-top" src="{% static 'notes/images/pexels-alvaro-matzumura-3380524-edited.jpg' %}" alt="">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="#">
                    <i class="bi-binoculars"></i> Discover
                </a>
                <p class="card-text">Explore notes written by others.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-center">
            <img class="card-img-top" src="{% static 'notes/images/pexels-pixabay-159775-edited.jpg' %}" alt="">
            <div class="card-body">
                <a class="btn btn-primary mb-3" href="#">
                    <i class="bi-arrow-repeat"></i> Drill
                </a>
                <p class="card-text">Review and reflect on your collection.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
