<p>Drill lets you go over your saved notes with the help of a simple algorithm that adds randomization and prioritization.</p>
<details class="mb-3">
    <summary>Explanation</summary>
    <p class="mt-3">The idea is that adding an element of unpredictability can help you see your notes in a fresh light, uncover connections between them, and thereby get creative new insights.</p>
    <p>Imagine your collection as a stack of cards (as in flashcards, or index cards). Every time you press <code>Next</code> in Drill, Leornian randomly draws a note near the bottom of the stack and presents it to you, placing it on top of the stack. (Sometimes, the note exactly at the bottom of the stack is drawn.) In other words, the longer you haven’t seen a note while drilling, the more likely you’ll see it on the next draw.</p>
    <p>In the long run this means you will still see all of your notes if you keep on drilling, but in a more shuffled way, compared to simply drawing from the bottom of the stack every time.</p>
    <p>Sometimes, you’d want to see certain notes more often than others. For this, you can also <em>promote</em> a note before drawing the next. This will make it more likely to be drawn than any other non-promoted note—although if it’s recently drilled (i.e. higher up the stack), it’s still unlikely to be drawn.</p>
    <p>Note that this system is based on the idea of learning by <a class="icon-link" href="https://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition <i class="bi-box-arrow-up-right"></i></a>, but it is not very sophisticated. If you need a more well-developed tool that is better guaranteed to aid in learning (particularly in memorization tasks), consider using <a class="icon-link" href="https://apps.ankiweb.net/">Anki <i class="bi-box-arrow-up-right"></i></a> or <a class="icon-link" href="https://en.wikipedia.org/wiki/SuperMemo">SuperMemo <i class="bi-box-arrow-up-right"></i></a> instead.</p>
</details>
<details>
    <summary>How to use Drill</summary>
    <ul class="mt-3">
        <li>Press <code>Begin Drill</code> to start drawing notes from your collection.</li>
        <li>You will be presented with a note. Take as much time as you want reviewing and reflecting on it.</li>
        <li>If the note is not in promoted status (the default), you can choose to promote it before drawing another note (<code>Promote and Next</code>). You can also press on <code>Next</code> to continue without changing the current note’s promotion status.</li>
        <li>Promoting a note makes it more likely to be drawn at any time, but this is balanced with the note’s location in your <em>drill stack</em>: the notes you haven’t seen in drill for the longest time will be more likely to be drawn than a promoted note you have just seen.</li>
        <li>If the presented note is in promoted status, you can choose to demote it before moving on (<code>Demote and Next</code>) to revert it to regular priority.</li>
    </ul>
</details>
