<details>
    <summary>
        Guide
    </summary>
    <div class="card my-3">
        <div class="card-body">
            You can format your note using a conservative subset of <a class="icon-link" href="https://commonmark.org/help/">Markdown <i class="bi-box-arrow-up-right"></i></a>. The following syntaxes are enabled: emphasis (italic &amp; bold, using asterisks or underscores), strikethrough (with tildes), inline code (with backticks), HTML entities, backslash escapes, and ordered &amp; unordered lists. Use the preview function to check if your note is formatted as intended.
        </div>
    </div>
</details>
