{% load note_controls %}
{% load note_extras %}

<article class="card">
    <div class="card-body">
        <div class="my-3">{{ object.html }}</div>
        {% if not omit_controls %}
            {% note_controls object request %}
        {% endif %}
    </div>
    <footer class="card-footer">
        <small class="text-secondary d-flex flex-wrap gap-3 my-3">
            {% if object.author %}
                <a class="link-secondary icon-link" href="{% url 'notes:notes-by-username' object.author.username %}">
                    <i class="bi-person"></i> {{ object.author.username }}
                </a>
            {% endif %}
            <span>
                <i class="bi-clock"></i>
                <time datetime="{{ object.created|date:'c' }}" title="{{ object.created|date:'r' }}">
                    {{ object.created|date:"d M Y (e)" }}
                </time>
            </span>
            <a class="link-secondary icon-link" href="{{ object.get_absolute_url }}">
                <i class="bi-link-45deg"></i> Permalink
            </a>
            {% if object.visibility != object.Visibility.NORMAL %}
                {% note_vis_badge object %}
            {% endif %}
        </small>
    </footer>
</article>
