{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Leornian{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons.min.css' %}">
    </head>
    <body>
        {% block navigation %}
        <nav class="col-lg-8 mx-auto p-4">
            <ul class="nav nav-underline">
                {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                        <strong>Leornian</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item ms-auto">
                    {% if not user.is_authenticated %}
                    <a class="nav-link icon-link {% if url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">
                        <i class="bi-box-arrow-in-right"></i> Log In
                    </a>
                    {% else %}
                    <a class="nav-link icon-link {% if url_name == 'my-account' %}active{% endif %}" href="{% url 'my-account' %}">
                        <i class="bi-person-circle"></i> Account
                    </a>
                    {% endif %}
                </li>
                {% endwith %}
            </ul>
        </nav>
        {% endblock %}

        {% if messages %}
            <div class="col-lg-8 mx-auto px-4">
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% else %}alert-secondary{% endif %} my-2">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <main class="col-lg-8 mx-auto p-4 pt-lg-5">
            {% block content_pre %}{% endblock %}
            {% block content %}{% endblock %}
            {% block content_post %}{% endblock %}
        </main>
        <footer class="col-lg-8 mx-auto p-4">
            <hr>
            <small class="text-secondary">
                <strong>The Leornian Project</strong>
                &bull;
                <a class="link-secondary" href="https://github.com/djramones/leornian">Source on GitHub</a>
            </small>
        </footer>
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
