{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row align-items-center row-gap-3">
    <div class="col-lg-4">
        <p class="fs-5">Leornian is a notes sharing and learning tool.</p>
        <a class="btn btn-primary" href="{% url 'notes:discover' %}">
            <i class="bi-binoculars"></i> Browse Notes
        </a>
    </div>
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="{% static 'images/pexels-pixabay-159711.jpg' %}" alt="Shelves full of colorful books.">
    </div>
</div>
{% endblock %}
