{% extends "base.html" %}

{% block title %}My Account | Leornian{% endblock %}

{% block content %}
<h1 class="text-center mb-5"><i class="bi-person-circle"></i> My Account</h1>
<ul class="list-group col-lg-6 mx-auto my-3">
    <li class="list-group-item">
        <i class="bi-at"></i> <strong>Username</strong>: {{ user.username }}
    </li>
    <li class="list-group-item">
        <i class="bi-envelope"></i> <strong>Email</strong>: {{ user.email }}
    </li>
    <li class="list-group-item">
        <i class="bi-clock"></i> <strong>Account Created</strong>:
        <time datetime="{{ user.date_joined|date:'c' }}" title="{{ user.date_joined|date:'r' }}">
            {{ user.date_joined|date:"d M Y (e)" }}
        </time>
    </li>
</ul>
<div class="text-center mx-auto">
    <a class="btn btn-primary" href="{% url 'logout' %}">
        <i class="bi-box-arrow-left"></i> Log Out
    </a>
</div>
{% endblock %}
