{% extends "base.html" %}

{% block title %}Pending Account Activation | Leornian{% endblock %}

{% block content %}

<h1 class="text-center mb-5">
    <i class="bi-hourglass-split"></i> Pending Account Activation
</h1>
<div class="card col-lg-6 mx-auto">
    <div class="card-body">
        <p class="mb-0">Thank you for signing up. Please confirm your email address by visiting the link in the email we have sent you, to complete your registration and begin using your account.</p>
    </div>
</div>

{% endblock %}
